{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@entities": "./src/entities"
        }
      }
    ]
  ],
  "ignore": [
    "**/*.spec.ts"
  ]
}
